{% extends "riddle_app/base.html" %}

{% block content %}
    <h1>Riddle Detail</h1>


    <p><b>Question:</b> {{ riddle.question }}</p>

    <p><b>Date Added:</b> {{ riddle.date_added.date }}</p>

    <p><b>Difficulty:</b> {{ riddle.get_difficulty_display }}</p>

    <p><b>Likes:</b> {{ riddle.likes }}</p>


    <a href="{% url 'riddle_app:riddle-guess' pk=riddle.id %}"><button class="btn btn-info">Guess</button></a>


    <form action="{% url 'riddle_app:riddle-like' object.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="riddle-id" value="{{object.id}}" class="btn btn-info">Like</button>
    </form>
    

   

{% endblock %}
